body {
    background-color: cornflowerblue;
    margin: 0;
    padding: 0;
}

.mainDiv {
    width: 600px;
    height: 600px;
    background-color: brown;
    margin: 0 auto;
}

.mainDiv > div {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 50%;
    margin:  auto;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
    
}

.green {
    background-color: green;
}